@import url("https://fonts.googleapis.com/css?family=Six+Caps");
body {
  background-color: #bdc3c7;
  text-align: center;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: #bdc3c7;
  width: auto;
  width: 90%;
  justify-content: center;
}

#mybook {
  display: block;
  border: 1px solid rgba(88, 116, 153, 0.808);
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

#btn {
  width: 200px;
  color: #f7f1e3;
  padding: 10px;
  background-color: #227093;
  border: 4px;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
#btn:hover {
  color: rgb(4, 13, 17);
  box-shadow: 20px 20px 10px grey;
}

#logo {
  padding: 10px, 20px;
  text-align: center;
  width: 15%;
  border: 10px outset #636e72;
  margin: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content {
  padding: 10px, 20px;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.footer {
  text-align: center;
  color: rgba(133, 113, 113, 0.301);
}

#div {
  display: block;
  flex-direction: column;
  width: 90%;
  height: 80%;
  padding: 10px;
  margin-bottom: 3px;
}
#div #livre {
  width: auto;
  height: 25px;
  outline-width: 0;
  font-size: 16px;
}
#div #autor {
  height: 25px;
  outline-width: 0;
  font-size: 16px;
}
#div #label-book {
  font-weight: bold;
  color: #000303;
  height: 25px;
  border-radius: 3px;
}
#div #autor-label {
  font-weight: bold;
  color: #000303;
  height: 25px;
  border-radius: 3px;
}

#btn_search {
  color: rgb(22, 95, 190);
  width: 400px;
  height: 25px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(34, 166, 179);
  margin-bottom: 5px;
  cursor: pointer;
}

#btn_cancel {
  width: 400px;
  align-content: center;
  align-items: center;
  color: beige;
  height: 25px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(235, 77, 75);
  margin-bottom: 5px;
  cursor: pointer;
}

#btn_search:hover, #btn_cancel:hover {
  color: rgb(4, 13, 17);
  box-shadow: 20px 20px 10px grey;
}

#hr {
  width: 90%;
  border: 0.5px solid #1e272e;
}

#div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 10px;
}

.contBook {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  border-right: 5px rgb(97, 60, 66) solid;
  padding: 15px;
  margin-bottom: 15px;
  background-color: lightgrey;
  font-size: 15px;
  max-width: 90%;
  max-height: 600px;
}
.contBook:hover {
  box-shadow: inset 100px 0 0 0 #6f6f70;
  color: rgb(94, 90, 90);
}
.contBook .id {
  display: flex;
  font-family: sans-serif;
  margin-top: -12px;
}
.contBook .bookTitle {
  display: flex;
  font-family: sans-serif;
  margin-top: -12px;
}
.contBook .author {
  display: flex;
  font-family: sans-serif;
  margin-top: -12px;
}
.contBook .description {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: inherit;
  color: #2e0606;
}
.contBook .image {
  display: flex;
  position: relative;
  max-width: 20px;
  max-height: 10px;
  left: 25%;
}
.contBook .icon {
  max-width: 5px;
  position: relative;
  margin-top: -12px;
  top: -20px;
  cursor: pointer;
}

.book {
  border-right: 5px rgb(97, 60, 66) solid;
  padding: 15px;
  margin-bottom: 15px;
  background-color: lightgrey;
  max-width: 15%;
  max-height: 700px;
}
.book:hover {
  box-shadow: inset 100px 0 0 0 #6f6f70;
  color: rgb(56, 54, 54);
}
.book .idL {
  font-family: sans-serif;
  margin-top: -12px;
}
.book .bookTitleL {
  font-family: sans-serif;
  margin-top: -12px;
  font-size: 5px;
}
.book .authorL {
  font-family: sans-serif;
  margin-top: -12px;
}
.book .descriptionL {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: inherit;
  color: #2e0606;
  text-align: justify;
}
.book .imageL {
  position: relative;
  max-width: 20px;
  max-height: 10px;
  left: 25%;
}
.book .iconL {
  max-width: 5px;
  position: relative;
  margin-top: -12px;
  top: -20px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  aside {
    top: 100%;
    left: 50%;
    margin-left: -127.5px;
  }
  #logo {
    margin-right: 0;
    margin-bottom: 470px;
    padding-bottom: 10px;
  }
  .contBook {
    text-align: left;
    position: static;
    padding-bottom: 5px;
  }
}/*# sourceMappingURL=style.css.map */