@import '_var';
@import url('https://fonts.googleapis.com/css?family=Six+Caps');

body{
background-color:$primary-color;
text-align: center;
align-items: center;
}

.header {
font-family:$font-body;
font-size: medium;
background-color:$primary-color;
width: auto;
width: 90%;
justify-content: center;
}
#mybook{
display:block;
border:1px solid rgba(88, 116, 153, 0.808);

}
.title{
text-align: center;
margin-left: auto;
margin-right: auto;

}
.h2{
text-align: center;
margin-left: auto;
margin-right: auto;
margin: auto;
}
#btn{
    width: 200px;
    color:#e1e7e9;
     padding:10px;
     background-color:#00b894;
     border:4px;margin: 2%;
     margin-left: auto;margin-right: auto;
     text-align:center;
     justify-content: center;
     display: flex;
     cursor: pointer;

     &:hover{
      
         width:20%;
          -webkit-transform:scale(1.3);transform:scale(1.3);
            -webkit-transition:1s ease-in-out;
               transition:1s ease-in-out;
        } } 
#logo {
padding:20px;
text-align: center;
width: 15%;
//border: 10px outset $primary-color;
margin: 2%;
display: block;
margin-left: auto;
margin-right: auto;
}
#content{    
padding:20px;
margin-left: auto;
margin-right: auto;
margin: auto;
}

.footer{
    text-align: center;
    color: rgba(133, 113, 113, 0.301);
    }
    #div{
        display: block;
        flex-direction: column;
        width: 90%;
        height:80%;
        padding: 10px;
        margin-bottom:3px;
    

          

                #livre{
            width: auto;
             height: 25px;
             outline-width: 0;
             font-size: 16px;
               }                  
    
                  #autor {
                 height: 25px;
                 outline-width: 0;
                 font-size: 16px;
             
               
                                    }
            #label-book{
              font-family: inherit;
              line-height:inherit;
              color:#2e3750;
                min-width:12em;
                   font-weight:bold;
                    color:#000303;
                    height: 25px;
                    border-radius: 3px;
                  }                  
                  
                  #autor-label{
                    font-weight:bold;
                 color:#000303;
                height: 25px;
                border-radius: 3px;
              
                  }}
              
                 
                #btn_search{
         
                    color:rgb(22, 95, 190);
                    width: 400px;
                    height: 25px;
                    border: 1px solid black;
                    border-radius: 3px;
                    background-color:rgb(34, 166, 179);
                    margin-bottom:5px;
                    cursor: pointer;
                    box-shadow:1px 1px 2px #a80b0b inset;




            
                       }
                        
                        #btn_cancel{
                            width: 400px;
                            align-content: center;
                            align-items: center;
                            color:beige;
                            height: 25px;
                            border: 1px solid black;
                            border-radius: 3px;
                            background-color:rgb(235, 77, 75);
                            margin-bottom:5px;
                            cursor: pointer;
                            box-shadow:1px 1px 2px #282099 inset;

                        }
                        #btn_search,#btn_cancel{
                            &:hover{
                                color:rgb(4, 13, 17);
                                box-shadow: 20px 20px 10px grey;   
                                               
                                }  }
                          
                         #hr{
                            width: 90%;
       border: 0.5px solid #1e272e;
                        
  }
  #div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 10px;
  }

 .contBook {
  display:inline-block;
   max-width:80%;
   max-height:30%;
  border: solid;
    &:hover{  
       box-shadow: inset 100px 0 0 0 #55efc4; 
        color: rgb(94, 90, 90);
           width: 50%;
            -webkit-transform:scale(1.3);transform:scale(1.3);
              -webkit-transition:1s ease-in-out;
                 transition:1s ease-in-out;
    }

          }
.id{
  display: flex;
  font-family: $listColor;
  margin-top : -12px;

}
  .bookTitle{
    font-family: $listColor;
    margin-top : -12px;
    font-size: 15px;

  }
  .author{
    font-family: $listColor;
    margin-top : -12px;
    font-size: 15px;

  }
  .description{
  font-family: $listColor;
  font-size: 10px;
  font-weight: inherit;
  color: #2e0606;
  font-size: 15px;

  }
  .image{
    position:relative;
    max-width: 20px;
    max-height: 10px;
    left: 25%;
   // margin-bottom: 30px;

  }
  .icon{
    max-width: 5px;
    position:relative;
    margin-top:-12px;
    top:-20px;
    cursor: pointer;

  }
 
.book{
  display:inline-block;
   max-width:70%;
   max-height:40%;
  border: solid;

  &:hover{  
     box-shadow: inset 100px 0 0 0 #55efc4; 
      color: rgb(94, 90, 90);
         width: 50%;
          -webkit-transform:scale(1.3);transform:scale(1.3);
            -webkit-transition:1s ease-in-out;
               transition:1s ease-in-out;
  }
    &:hover{  
      box-shadow: inset 100px 0 0 0 #55efc4; 
       color: rgb(94, 90, 90);
          width:30%;
           -webkit-transform:scale(1.3);transform:scale(1.3);
             -webkit-transition:1s ease-in-out;
                transition:1s ease-in-out;
   }
  .idL{
    font-family: $listColor;
    margin-top : -12px;
    font-size: 15px;
  
  }
    .bookTitleL{
      font-family: $listColor;
      margin-top : -12px;
      font-size:5px;
      font-size: 15px;

    }
    .authorL{
      font-family: $listColor;
      margin-top : -12px;
      font-size:5px;
      font-size: 15px;

    }
    .descriptionL{
    font-family: $listColor;
    font-size:5px;
    color: #2e0606;
    font-size: 15px;

    }
    .imageL{
      position:relative;
      max-width: 20px;
      max-height: 10px;
      left: 25%;
     // margin-bottom: 30px;
  
    }
    .iconL{
      max-width: 5px;
      position:relative;
      margin-top:-12px;
      top:-20px;
      cursor: pointer;

    }
   }
   
  

/*********************media******************/


@media screen and(max-width:900px)  {
  body{
    display: flex;
align-content: center;
.header{
width:auto;
#myBook{
width:auto;

}
  .title{
    max-width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  }
 
  .h2{
max-width: 40%;
  font-size: 16px;
  }
  #btn{
      width:200px;
      font-size: 16px;
  }
          
  #logo {  
     width: 40%;
      
  
  
  }
  
    #label-book{
      width: auto;

          }                  
          
          #autor-label{
            width: auto;
          }}
           #livre{
              width:80%;
            align-items: center;
              font-size: 16px;
              left: 10%;   
                 }                  
      
                    #autor {
                    width:100%;
                 align-items: center;
                   font-size: 16px;
                   left: 10%;               
                 
                                      }
      
                                      .contBook{
                                        display:block;
                                      }
                                      .book{
                                        display:block;
                                      }
                  #btn_search{
                   align-items: center;
                    width:100%;
                  }
                          
                          #btn_cancel{
                            align-items: center;
                            width:100%;
                      
            }
 
            
}}



