body {
  background-color: #bdc3c7;
  text-align: center;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: #bdc3c7;
  width: auto;
  width: 90%;
  justify-content: center;
}

#mybook {
  display: block;
  border: 1px solid rgba(88, 116, 153, 0.808);
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

#btn {
  width: 200px;
  color: #f7f1e3;
  padding: 10px;
  background-color: #227093;
  border: 4px;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  display: flex;
  box-shadow: 20px 20px 10px grey;
}
#btn:hover {
  color: #cc8e35;
}

#logo {
  padding: 10px, 20px;
  text-align: center;
  width: 15%;
  border-style: outset;
  border-radius: 6px;
  margin: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content {
  padding: 10px, 20px;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.footer {
  text-align: center;
  color: rgba(133, 113, 113, 0.301);
}

#div {
  display: block;
  flex-direction: column;
  width: 90%;
  height: 80%;
  padding: 10px;
  margin-bottom: 3px;
}
#div #livre {
  width: auto;
  height: 25px;
  outline-width: 0;
  font-size: 16px;
}
#div #autor {
  height: 25px;
  outline-width: 0;
  font-size: 16px;
}
#div #label-book {
  font-weight: bold;
  color: #000303;
  height: 25px;
  border-radius: 3px;
}
#div #autor-label {
  font-weight: bold;
  color: #000303;
  height: 25px;
  border-radius: 3px;
}

#btn_search {
  color: rgb(22, 95, 190);
  width: 400px;
  height: 25px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(34, 166, 179);
  margin-bottom: 5px;
}

#btn_cancel {
  width: 400px;
  align-content: center;
  align-items: center;
  color: beige;
  height: 25px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(235, 77, 75);
  margin-bottom: 5px;
}

#btn_search:hover, #btn_cancel:hover {
  color: rgb(4, 13, 17);
  box-shadow: 20px 20px 10px grey;
}

#hr {
  width: 90%;
  border: 0.5px solid #1e272e;
}

.contBook {
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(111, 41, 97, 0.5);
  font-size: 15px;
  line-height: 1;
  width: 30%;
  max-height: 800px;
  margin: 1px;
  font-weight: 50px;
  align-content: space-between;
}
.contBook .id {
  display: flex;
  font-family: sans-serif;
  margin-top: -12px;
}
.contBook .bookTitle {
  display: flex;
  font-family: sans-serif;
  margin-top: -12px;
}
.contBook .author {
  display: flex;
  font-family: sans-serif;
  margin-top: -12px;
}
.contBook .description {
  display: flex;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: inherit;
  color: #2e0606;
  text-align: justify;
}
.contBook .image {
  display: flex;
  position: relative;
  max-width: 20px;
  max-height: 10px;
  left: 25%;
}
.contBook .icon {
  max-width: 5px;
  position: relative;
  margin-top: -12px;
  top: -20px;
}/*# sourceMappingURL=style.css.map */